mixin articleCard(item)
  a(href="article-content.html" class="list-card grid group border-t border-solid border-[#E0E5F1]" data-value=item.dataValue)
    div(class="pt-24px pb-20px")
      div(class="flex-center justify-between gap-16px")
        div(class="text-[13px] leading-150 text-gray3")=item.time
        div(class="text-gray2 border-gray2 tage-button")=item.sort
      h3(class="group-hover:text-s2 trans-effect h3 mt-16px")=item.title
    div(class="w-full overflow-hidden")
      img(src=item.image, alt="", width="410", height="233", class="group-hover:scale-110 transition-all duration-500 md:max-w-[410px] w-full")